.body {
  overflow: hidden;
}

.header {
  position: fixed;
  top: 0%;
  z-index: 5;
}
.logo {
  position: relative;
  display: block;
  margin: 49px 0 0 43px;
  width: 127px;
  height: 25px;
}
.burger-button {
  position: fixed;
  top: 48px;
  right: 62px;
  width: 56px;
  height: 56px;
  cursor: pointer;
  background: url(./assets/close-button.svg) no-repeat center center;
  background-size: cover;
}
.__to-open {
  background: url(./assets/burger.svg) no-repeat center center;
}

.burger-menu {
  position: fixed;
  z-index: 4;
  display: none;
  justify-content: center;
  width: 100%;
  padding: 190px 0;
  background-color: #f9f9f9;
}
.link-list {
  width: 630px;
  height: 585px;
  flex-direction: column;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.link {
  position: relative;
  align-self: center;
  padding: 5px 0;
  font-family: "Biocad_Display-Bold";
  font-size: 65px;
  line-height: 115%;
  text-align: center;
  letter-spacing: -0.01em;
  color: #e8e8e8;
  text-decoration: none;
  z-index: 1;
}
.link:hover {
  color: #212121;
  z-index: 2;
}
.link-year {
  position: absolute;
  width: fit-content;
  opacity: 0;
  padding: 0 5px;
  font-family: "Biocad_Display-Regular";
  font-size: 16px;
  line-height: 115%;
  letter-spacing: -0.01em;
  color: #212121;
}
.link:hover .link-year {
  opacity: 1;
  z-index: 2;
}
.link:hover:before {
  content: "";
  position: absolute;
  top: -50%;
  /* left: 30%; */
  left: 50%;
  transform: translate(-50%, 0);
  background: url(./assets/building_small.png) no-repeat center center;
  background-size: 266px 184px;
  width: 266px;
  height: 184px;
  z-index: -1;
}
.link-img {
  position: absolute;
  background: url(./assets/building_small.png) no-repeat center center;
  background-size: cover;
  opacity: 1;
}
.link:hover .link-img {
  width: 366px;
  height: 284px;
  opacity: 1;
  z-index: 1;
}

.start-page {
  background: url(./assets/bg.png) no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

._grey {
  background-color: #eae9ed;
}
._blue {
  background: #092847;
}
.__darkblue {
  background-color: rgb(1, 21, 41);
}
._content-padding {
  padding: 0 135px;
}
._content-padding-small {
  padding: 0 66px;
}
._pb50 {
  padding-bottom: 50%;
}

.start-page-content-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 220px 0 320px 0;
}
.start-page-title-wrapper {
  width: 877px;
  height: 423px;
}
.start-page-title {
  font-family: "Biocad_Display-Bold";
  margin: 0 0 0 0;
  font-size: 130px;
  font-weight: 700;
  line-height: 141px;
  letter-spacing: -0.01em;
  color: #ffffff;
}
.start-page-text-wrapper {
  height: 78px;
  width: 233px;
  margin-left: 204px;
}
.start-page-text {
  margin: 0 0 0 0;
  font-family: "Biocad_Display-Regular";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  color: #ffffff;
  padding-bottom: 46px;
}
.start-page-img-wrapper {
  padding: 0 370px 215px 0;
  display: flex;
  justify-content: flex-end;
}
.arrow-button {
  width: 59px;
  height: 59px;
  background: url(./assets/arrow-button.svg) no-repeat center center;
  background-size: cover;
}

.page2-content-block {
  padding-top: 140px;
  display: flex;
  flex-direction: row;
  position: relative;
}
#page2-trigger0 {
  position: absolute;
  top: 25%;
}
#page2-trigger1 {
  position: absolute;
  top: 37%;
}
#page2-trigger2 {
  position: absolute;
  top: 48%;
}
#page2-trigger3 {
  position: absolute;
  top: 59%;
}
.page2-mobile-title {
  display: none;
}
.page2-title-wrapper {
  padding-bottom: 126.5px;
  display: flex;
  flex-direction: column;
  width: 50%;
}
.page2-title {
  margin: 0 0 10% 0;
  font-family: "Biocad_Display-Bold";
  font-size: 60px;
  font-weight: 700;
  line-height: 75px;
  letter-spacing: -0.01em;
}
.page2-img-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  width: 458px;
  height: 387px;
}
.page2-photo1 {
  position: absolute;
  opacity: 0;
  height: 355px;
  width: 306px;
  transform: rotate(-6.7deg);
  background: url(./assets/page2-photo1.png) no-repeat center center;
  background-size: cover;
  transition: opacity 0.7s ease;
}
.page2-photo2 {
  position: absolute;
  opacity: 0;
  height: 340px;
  width: 404px;
  transform: rotate(11.46deg);
  background: url(./assets/page2-photo2.png) no-repeat center center;
  background-size: cover;
  transition: opacity 0.7s ease;
}
.page2-photo3 {
  height: 313px;
  width: 306px;
  opacity: 0;
  transform: rotate(4.58deg);
  background: url(./assets/page2-photo3.png) no-repeat center center;
  background-size: cover;
  transition: opacity 0.7s ease;
}
.page2-text-wrapper {
  position: absolute;
  right: 0;
  width: 45%;
  padding: 60% 0 0 10%;
}
.spacer.s0 {
  min-height: 1px;
}
.page2-text {
  margin: 0 0 0 0;
  font-family: "Biocad_Display-Regular";
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  color: #575757;
}
.line {
  width: 100%;
  margin: 9% 0;
}

.page3-content-block {
  position: relative;
  padding: 15% 0 65% 0;
  overflow: hidden;
}
#page3-trigger1 {
  position: absolute;
  top: 16%;
}
#page3-trigger2 {
  position: absolute;
  top: 32%;
}
.page3-title-wrapper1 {
  position: absolute;
  left: -91%;
  width: 1314px;
  z-index: 1;
}
.page3-title-text1 {
  margin: 0 0 0 0;
  font-family: "Biocad_Display-Bold";
  color: #62bdb0;
  font-size: 250px;
  font-weight: 700;
  line-height: 237px;
  letter-spacing: -0.01em;
}
.page3-title-wrapper2 {
  position: absolute;
  bottom: -60px;
  right: -137%;
  width: 1970px;
  z-index: 1;
}
.page3-title-text2 {
  margin: 0 0 0 0;
  font-family: "Biocad_Display-Bold";
  color: #62bdb0;
  font-size: 250px;
  font-weight: 700;
  line-height: 237px;
  letter-spacing: -0.01em;
}
.page3-img-wrapper {
  position: relative;
  height: 478px;
  width: 467px;
  margin: auto;
  background: url(./assets/page2-photo3.png) no-repeat center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

._parallax-bg-man {
  position: relative;
  width: 100%;
  height: 1922px;
  background: url(./assets/page2-photo3.png) no-repeat center top;
  background-size: cover;
  padding-bottom: 45%;
}
.page4-gradient {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 1422px;
  background: linear-gradient(180deg, rgba(237, 237, 237, 0) 0%, #ededed 77.1%);
  z-index: 1;
}
.page4-content-block {
  position: relative;
  width: 872px;
  height: 676px;
  padding: 42% 5% 0 0;
  float: right;
  z-index: 2;
}
#page4-trigger1 {
  position: absolute;
  top: 47%;
}
#page4-trigger2 {
  position: absolute;
  top: 50%;
}
#page4-trigger3 {
  position: absolute;
  top: 60%;
}
#page4-trigger4 {
  position: absolute;
  top: 65%;
}
#page4-trigger5 {
  position: absolute;
  top: 80%;
}
.page4-title1-wrapper {
  margin-right: 60px;
  float: right;
}
.page4-title1-text {
  opacity: 0;
  margin: 0 0 0 0;
  font-family: "Biocad_Display-Bold";
  font-size: 140px;
  font-weight: 700;
  line-height: 133px;
  letter-spacing: -0.01em;
}
.page4-title2-wrapper {
  display: flex;
  width: 100%;
}
.page4-title2-text {
  opacity: 0;
  margin: 0 30px 0 0;
  font-family: "Biocad_Display-Bold";
  font-size: 140px;
  font-weight: 700;
  line-height: 133px;
  letter-spacing: -0.01em;
}
.page4-subtitle {
  opacity: 0;
  margin: 0 0 0 0;
  padding-top: 100px;
  font-family: "Biocad_Display-Regular";
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
}
.page4-text-wrapper {
  position: relative;
  padding: 190px 0 0 115px;
}
.page4-text {
  opacity: 0;
  margin: 0 0 0 0;
  font-family: "Biocad_Display-Regular";
  font-size: 25px;
  font-weight: normal;
  line-height: 140%;
  letter-spacing: 0em;
}

._pr75 {
  padding-right: 75px;
}
.page5-content-wrapper {
  display: flex;
  flex-direction: row;
  padding-top: 125px;
}
.page5-left-block {
  padding: 125px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page5-img {
  position: relative;
  height: 259px;
  width: 384px;
  background: url(./assets/devices.png) no-repeat center center;
  background-size: cover;
}
.page5-text-wrapper {
  position: relative;
  margin-top: 66px;
  display: flex;
  flex-direction: column;
}
.page5-subtitle {
  margin: 0 0 0 0;
  align-self: center;
  height: 25px;
  width: 160px;
  font-family: "Biocad_Display-Regular";
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
}
.page5-title {
  margin: 33px 0 0 0;
  align-self: center;
  height: 192px;
  width: 479px;
  font-family: "Biocad_Display-Regular";
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0em;
}
.page5-text {
  margin: 50px 0 0 0;
  align-self: flex-end;
  height: 390px;
  width: 355px;
  font-family: "Biocad_Display-Regular";
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
}
.page5-woman-img {
  height: 544px;
  width: 634px;
  align-self: center;
  margin: 0 0 0 auto;
  background: url(./assets/woman-in-lab.png) no-repeat center center;
  background-size: cover;
}

.page6-content-wrapper {
  padding: 0 0 20% 0;
  display: flex;
  flex-direction: row;
}
.page6-left-block {
  display: flex;
  flex-direction: column;
  width: 893px;
  height: 662px;
  padding: 0 0 20% 0;
}
.page6-title {
  margin: 0 0 0 0;
  align-self: center;
  font-family: "Biocad_Display-Regular";
  font-size: 37px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0em;
}
.page6-text-wrapper {
  padding: 82px 75px 0 0;
  height: 386px;
  width: 510px;
  align-self: flex-end;
}
.page6-text {
  padding-top: 30px;
  font-family: "Biocad_Display-Regular";
  font-size: 17px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
}
.page6-ngramma {
  height: 34px;
  width: 34px;
  margin-top: 16px;
  background: url(./assets/n-gramma.svg) no-repeat center center;
  background-size: cover;
}
.page6-people-in-lab-img {
  height: 396px;
  width: 440px;
  align-self: center;
  margin: auto;
  background: url(./assets/people-in-lab.png) no-repeat center center;
  background-size: cover;
}

.page7-content-block {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 1388px;
  background: url(./assets/building.png) no-repeat center top fixed;
  background-size: cover;
  z-index: 1;
}
#page7-trigger0 {
  position: absolute;
  top: 32.5%;
}
#page7-trigger1 {
  position: absolute;
  top: 36%;
}
#page7-trigger2 {
  position: absolute;
  top: 750px;
}
#page7-animated-block {
  width: 100%;
  height: 1388px;
  overflow: hidden;
}
.zoomed {
  transform: scale(30) translateY(3%) translateX(2.65%);
}
.page7-top-svg {
  transform: translateX(-66%);
  width: 4777px;
  height: 450px;
  background: url(./assets/page7_autumn2001.svg) no-repeat center center;
  background-size: 100%;
  z-index: 2;
}
.page7-bottom-svg {
  transform: translateX(-5%);
  width: 4777px;
  height: 450px;
  background: url(./assets/page7_lyubuchany.svg) no-repeat center center;
  background-size: 100%;
  z-index: 2;
}

.page8-img-building {
  width: 100%;
  height: 900px;
  background: url(./assets/building.png) no-repeat center top fixed;
  background-size: cover;
  z-index: 1;
}

.page9-content-block {
  display: flex;
  flex-direction: row;
}
.page9-left-block {
  display: inline-block;
  flex-direction: column;
  padding: 11% 0;
  width: 40%;
}
.page9-img-building-small {
  width: 100%;
}
.page9-img-lady {
  width: 100%;
  margin-top: 63px;
}
.page9-right-block {
  display: inline-block;
  flex-direction: column;
  width: 50%;
  padding: 17% 0 0 10%;
}

.page9-title {
  margin: 0 0 0 0;
  align-self: center;
  font-family: "Biocad_Display-Regular";
  font-size: 27px;
  font-weight: 400;
  line-height: 49px;
  letter-spacing: 0em;
  color: #ffffff;
}
.page9-text-wrapper {
  padding-top: 84px;
  display: flex;
  flex-direction: row;
}
.page9-inner-text-wrapper {
  height: 384px;
  width: 578px;
  align-self: flex-end;
}
.page9-text {
  padding-bottom: 30px;
  font-family: "Biocad_Display-Regular";
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  color: #ffffff;
}
.page9-ngramma {
  height: 29px;
  width: 29px;
  margin-right: 15%;
  background: url(./assets/n-gramma.svg) no-repeat center center;
  background-size: 100%;
}

.page10-content-block {
  position: relative;
  padding: 354px 0;
}
.page10-text-wrapper {
  height: 192px;
  width: 814px;
  margin: auto;
}
.page10-text {
  font-family: "Biocad_Display-Regular";
  font-size: 38px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  opacity: 0;
}
._highlights {
  color: #62bdb0;
}
#page10-trigger1 {
  position: absolute;
  top: 30%;
}

/* global modifications */
.__visible {
  opacity: 1;
}
.fishRightFull {
  left: 100%;
}
.fishLeftFull {
  right: 100%;
}
.fishRightPage7 {
  transform: translateX(-35%);
}
.fishLeftPage7 {
  transform: translateX(-35%);
}
.continueFloatingLeft {
  right: 0px;
}
