.body {
  overflow: hidden;
}

.header {
  position: fixed;
  top: 0%;
  z-index: 5;
}
.logo {
  position: relative;
  display: block;
  margin: 49px 0 0 43px;
  width: 127px;
  height: 25px;
}
.burger-button {
  position: fixed;
  top: 48px;
  right: 62px;
  width: 56px;
  height: 56px;
  cursor: pointer;
  background: url(./assets/close-button.svg) no-repeat center center;
  background-size: cover;
}
.__to-open {
  background: url(./assets/burger.svg) no-repeat center center;
}

.burger-menu {
  position: fixed;
  z-index: 4;
  display: none;
  justify-content: center;
  width: 100%;
  padding: 190px 0;
  background-color: #f9f9f9;
}
.link-list {
  width: 630px;
  height: 585px;
  flex-direction: column;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.link {
  align-self: center;
  padding: 5px 0;
  font-family: "Biocad_Display-Bold";
  font-size: 65px;
  line-height: 115%;
  text-align: center;
  letter-spacing: -0.01em;
  color: #e8e8e8;
}
.link:hover {
  color: #212121;
}

.start-page {
  background: url(./assets/bg.png) no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

._grey {
  background-color: #eae9ed;
}
._darkblue {
  background: #092847;
}
._content-padding {
  padding: 0 135px;
}
._content-padding-small {
  padding: 0 66px;
}

.start-page-content-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 220px 0 320px 0;
}
.start-page-title-wrapper {
  width: 877px;
  height: 423px;
}
.start-page-title {
  font-family: "Biocad_Display-Bold";
  margin: 0 0 0 0;
  font-size: 150px;
  font-weight: 700;
  line-height: 141px;
  letter-spacing: -0.01em;
  color: #ffffff;
}
.start-page-text-wrapper {
  height: 78px;
  width: 233px;
  margin-left: 204px;
}
.start-page-text {
  margin: 0 0 0 0;
  font-family: "Biocad_Display-Regular";
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  color: #ffffff;
  padding-bottom: 46px;
}
.start-page-img-wrapper {
  padding: 0 370px 215px 0;
  display: flex;
  justify-content: flex-end;
}
.arrow-button {
  width: 59px;
  height: 59px;
  background: url(./assets/arrow-button.svg) no-repeat center center;
  background-size: cover;
}

.page2-content-block {
  padding-top: 140px;
  display: flex;
  flex-direction: row;
  position: relative;
}
#page2-trigger1 {
  position: absolute;
  top: 250px;
}
#page2-trigger2 {
  position: absolute;
  top: 500px;
}
#page2-trigger3 {
  position: absolute;
  top: 700px;
}
.page2-title-wrapper {
  padding-bottom: 126.5px;
  display: flex;
  flex-direction: column;
}
.page2-title {
  width: 654px;
  height: 150px;
  margin: 0 0 116px 0;
  text-align: center;
  font-family: "Biocad_Display-Bold";
  font-size: 65px;
  font-weight: 700;
  line-height: 75px;
  letter-spacing: -0.01em;
}
.page2-img-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 635px;
  height: 387px;
}
.page2-photo1 {
  position: absolute;
  opacity: 0;
  height: 355px;
  width: 306px;
  transform: rotate(-6.7deg);
  background: url(./assets/page2-photo1.png) no-repeat center center;
  background-size: cover;
}
.page2-photo2 {
  position: absolute;
  opacity: 0;
  height: 340px;
  width: 404px;
  transform: rotate(11.46deg);
  background: url(./assets/page2-photo2.png) no-repeat center center;
  background-size: cover;
}
.page2-photo3 {
  height: 313px;
  width: 306px;
  opacity: 0;
  transform: rotate(4.58deg);
  background: url(./assets/page2-photo3.png) no-repeat center center;
  background-size: cover;
}
.page2-text-wrapper {
  position: absolute;
  right: 0;
  height: 500px;
  width: 650px;
  padding: 536px 0 0 114px;
}
.spacer.s0 {
  min-height: 1px;
}
.page2-text {
  margin: 0 0 0 0;
  font-family: "Biocad_Display-Regular";
  font-size: 26px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  color: #575757;
}
.line {
  width: 450px;
  margin: 60px 0;
}

.page3-content-block {
  position: relative;
  padding: 219px 0 203px 0;
  overflow: hidden;
}
.page3-title-wrapper1 {
  position: absolute;
  top: 219px;
  left: -73%;
  width: 1314px;
  z-index: 1;
}
.page3-title-text1 {
  margin: 0 0 0 0;
  font-family: "Biocad_Display-Bold";
  color: #62bdb0;
  font-size: 250px;
  font-weight: 700;
  line-height: 237px;
  letter-spacing: -0.01em;
}
.fishRight {
  left: 1780px;
}
.page3-title-wrapper2 {
  position: absolute;
  bottom: 138px;
  right: -110%;
  width: 1970px;
  z-index: 1;
}
.fishLeft {
  right: 1780px;
}
.page3-title-text2 {
  margin: 0 0 0 0;
  font-family: "Biocad_Display-Bold";
  color: #62bdb0;
  font-size: 250px;
  font-weight: 700;
  line-height: 237px;
  letter-spacing: -0.01em;
}
.page3-img-wrapper {
  height: 478px;
  width: 467px;
  margin: auto;
  background: url(./assets/page2-photo3.png) no-repeat center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

._parallax-bg-man {
  position: relative;
  width: 100%;
  height: 1922px;
  background: url(./assets/page2-photo3.png) no-repeat center top;
  background-size: cover;
}
.page4-gradient {
  position: absolute;
  bottom: -115px;
  width: 100%;
  height: 1422px;
  background: linear-gradient(180deg, rgba(237, 237, 237, 0) 0%, #ededed 77.1%);
  z-index: 1;
}
.page4-content-block {
  position: relative;
  width: 804px;
  height: 661px;
  padding: 745px 200px 120px 0;
  float: right;
  z-index: 2;
}
#page4-trigger1 {
  position: absolute;
  top: 600px;
}
#page4-trigger2 {
  position: absolute;
  top: 640px;
}
#page4-trigger3 {
  position: absolute;
  top: 1000px;
}
#page4-trigger4 {
  position: absolute;
  top: 1010px;
}
.page4-title1-wrapper {
  float: right;
}
.page4-title1-text {
  opacity: 0;
  margin: 0 0 0 0;
  font-family: "Biocad_Display-Bold";
  font-size: 140px;
  font-weight: 700;
  line-height: 133px;
  letter-spacing: -0.01em;
}
.page4-title2-wrapper {
  display: flex;
  align-items: center;
  height: 134px;
  width: 820px;
}
.page4-title2-text {
  opacity: 0;
  margin: 0 30px 0 0;
  font-family: "Biocad_Display-Bold";
  font-size: 140px;
  font-weight: 700;
  line-height: 133px;
  letter-spacing: -0.01em;
}
.page4-subtitle {
  opacity: 0;
  margin: 0 0 0 0;
  padding-top: 25px;
  font-family: "Biocad_Display-Regular";
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
}
.page4-text-wrapper {
  position: relative;
  padding: 205px 0 0 115px;
}
.page4-text {
  /* position: absolute; */
  opacity: 0;
  margin: 0 0 0 0;
  font-family: "Biocad_Display-Regular";
  font-size: 25px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0em;
}
.fishPage4TextUp {
  top: -25px;
}
.__movedUpText {
  transform: translateY(-400px);
  transition: all 0.6s ease-out;
}

.page5-content-wrapper {
  display: flex;
  flex-direction: row;
  padding-top: 125px;
}
.page5-right-block {
  padding: 125px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page5-img {
  position: relative;
  height: 259px;
  width: 384px;
  background: url(./assets/devices.png) no-repeat center center;
  background-size: cover;
}
.page5-text-wrapper {
  position: relative;
  margin-top: 66px;
  display: flex;
  flex-direction: column;
}
.page5-subtitle {
  margin: 0 0 0 0;
  align-self: center;
  height: 25px;
  width: 160px;
  font-family: "Biocad_Display-Regular";
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
}
.page5-title {
  margin: 33px 0 0 0;
  align-self: center;
  height: 192px;
  width: 479px;
  font-family: "Biocad_Display-Regular";
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0em;
}
.page5-text {
  margin: 50px 0 0 0;
  align-self: flex-end;
  height: 390px;
  width: 355px;
  font-family: "Biocad_Display-Regular";
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
}
.page5-woman-img {
  height: 544px;
  width: 634px;
  align-self: center;
  margin: auto;
  background: url(./assets/woman-in-lab.png) no-repeat center center;
  background-size: cover;
}

.page6-content-wrapper {
  display: flex;
  flex-direction: row;
}
.page6-left-block {
  display: flex;
  flex-direction: column;
  width: 893px;
  height: 662px;
  padding: 125px 0;
}
.page6-title {
  margin: 0 0 0 0;
  align-self: center;
  height: 144px;
  width: 893px;
  font-family: "Biocad_Display-Regular";
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0em;
}
.page6-text-wrapper {
  padding-top: 82px;
  height: 386px;
  width: 547px;
  align-self: flex-end;
}
.page6-text {
  padding-top: 30px;
  font-family: "Biocad_Display-Regular";
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
}
.page6-ngramma {
  height: 34px;
  width: 34px;
  margin-top: 16px;
  background: url(./assets/n-gramma.svg) no-repeat center center;
  background-size: cover;
}
.page6-people-in-lab-img {
  height: 396px;
  width: 440px;
  align-self: center;
  margin: auto;
  background: url(./assets/people-in-lab.png) no-repeat center center;
  background-size: cover;
}

.page7-img-autumn-2001 {
  position: absolute;
  width: 100%;
  height: 1000px;
  background: url(./assets/autumn2001.svg) no-repeat center center;
  background-size: cover;
  z-index: 2;
}
.page7-img-building {
  width: 100%;
  height: 1388px;
  background: url(./assets/building.png) no-repeat center top fixed;
  background-size: cover;
  z-index: 1;
}

.page9-content-block {
  display: flex;
  flex-direction: row;
}
.page9-left-block {
  display: inline-block;
  flex-direction: column;
  padding: 125px 0;
}
.page9-img-building-small {
  width: 512px;
  height: 424px;
  background: url(./assets/building.png) no-repeat center center;
  background-size: cover;
}
.page9-img-lady {
  width: 512px;
  height: 246px;
  margin-top: 63px;
  background: url(./assets/lady.png) no-repeat center center;
  background-size: cover;
}
.page9-right-block {
  display: inline-block;
  flex-direction: column;
  width: 770px;
  height: 684px;
  padding: 205px 0 93px 125px;
}

.page9-title {
  margin: 0 0 0 0;
  align-self: center;
  font-family: "Biocad_Display-Regular";
  font-size: 35px;
  font-weight: 400;
  line-height: 49px;
  letter-spacing: 0em;
  color: #ffffff;
}
.page9-text-wrapper {
  padding-top: 84px;
  display: flex;
  flex-direction: row;
}
.page9-inner-text-wrapper {
  height: 384px;
  width: 578px;
  align-self: flex-end;
}
.page9-text {
  padding-bottom: 30px;
  font-family: "Biocad_Display-Regular";
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  color: #ffffff;
}
.page9-ngramma {
  height: 29px;
  width: 29px;
  margin-right: 138px;
  background: url(./assets/n-gramma.svg) no-repeat center center;
  background-size: cover;
}

.page10-content-block {
  position: relative;
  padding: 354px 0;
}
.page10-text-wrapper {
  height: 192px;
  width: 814px;
  margin: auto;
}
.page10-text {
  font-family: "Biocad_Display-Regular";
  font-size: 38px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  opacity: 0;
  /* transition: opacity 4s; */
}
._highlights {
  color: #62bdb0;
}
#page10-trigger1 {
  position: absolute;
  top: 350px;
}
#page10-trigger2 {
  position: absolute;
  top: 450px;
}

/* global style */
.__visible {
  opacity: 1;
}
