html {
  scroll-behavior: smooth;
}

.__to-open {
  cursor: pointer;
}

.arrow-button {
  cursor: pointer;
}

._parallax-bg-man {
  height: 1600px;
}

/* стили для 13 дюймовых мониторов и новых планшетов */
@media screen and (min-width: 1025px) and (max-width: 1439px) {
  .start-page-title-wrapper {
    width: 700px;
    height: auto;
  }
  .start-page-title {
    font-size: 110px;
    line-height: 103px;
  }
  .start-page-text {
    font-size: 18px;
    line-height: 23px;
  }
  ._content-padding {
    padding: 0 135px;
  }
  .start-page-img-wrapper {
    padding: 0 355px 115px 0;
    margin-top: 30px;
  }

  .page2-text-wrapper {
    padding: 65% 0 0 10%;
  }
  .page2-title {
    font-size: 50px;
    line-height: 57px;
    text-align: left;
  }
  .page2-text-wrapper {
    width: 456px;
  }
  .page2-text {
    font-size: 18px;
    line-height: 25px;
  }
  #page2-trigger0 {
    top: 20%;
  }
  #page2-trigger1 {
    top: 35%;
  }
  #page2-trigger2 {
    top: 42%;
  }
  #page2-trigger3 {
    top: 48%;
  }

  .page3-title-text1 {
    font-size: 200px;
    line-height: 190px;
  }
  .page3-title-text2 {
    font-size: 200px;
    line-height: 190px;
  }
  .page3-title-wrapper1 {
    left: -82%;
  }
  .fishRightFull {
    left: 100%;
  }
  .page3-title-wrapper2 {
    right: -155%;
  }
  .fishLeftFull {
    right: 70%;
  }

  ._parallax-bg-man {
    height: 1400px;
  }
  .page4-content-block {
    padding: 42% 5% 0 0;
    width: 650px;
  }
  #page4-trigger3 {
    position: absolute;
    top: 68%;
  }
  #page4-trigger4 {
    position: absolute;
    top: 65%;
  }
  .page4-title1-text {
    font-size: 100px;
    line-height: 95px;
  }
  .page4-title2-text {
    font-size: 100px;
    line-height: 95px;
  }
  .page4-subtitle {
    font-size: 14px;
    max-width: 160px;
  }
  .page4-text-wrapper {
    position: relative;
    padding: 121px 0 0 150px;
  }
  .page4-text {
    font-size: 18px;
    line-height: 25px;
  }

  ._content-padding {
    padding: 0 60px;
  }
  ._pr75 {
    padding-right: 41px;
  }
  .page5-content-wrapper {
    display: flex;
    flex-direction: row;
  }
  .page5-left-block {
    padding: 0 0 5% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .page5-subtitle {
    font-size: 16px;
  }
  .page5-title {
    font-size: 30px;
    line-height: 36px;
  }
  .page5-text {
    font-size: 18px;
    line-height: 27px;
    margin: 0;
  }
  .page5-img {
    width: 100%;
  }
  .page5-woman-img {
    width: 504px;
    height: 633px;
  }

  .page6-subtitle {
    font-size: 16px;
  }
  .page6-title {
    font-size: 30px;
    line-height: 36px;
  }
  .page6-text {
    font-size: 18px;
    line-height: 27px;
  }
  .page6-left-block {
    padding: 0 0 10vh;
    width: 60%;
  }
  .page6-text-wrapper {
    padding: 30px 25px 0 0;
  }
  .page6-people-in-lab-img {
    width: 330px;
    height: 425px;
    margin: auto 0 auto auto;
    background: url(./assets/people-in-lab.png) no-repeat left 15% center;
  }

  #page7-trigger0 {
    top: 29%;
  }
  .page7-top-svg {
    height: 405px;
    transform: translateX(-64%);
    background-size: 90%;
  }
  .fishRightPage7 {
    transform: translateX(-36.5%);
  }
  .page7-bottom-svg {
    height: 405px;
    transform: translateX(-10%);
    background-size: 90%;
  }
  .fishLeftPage7 {
    transform: translateX(-36.5%);
  }
  .zoomed {
    transform: scale(30) translateY(8%) translateX(2.07%);
  }

  .page8-img-building {
    height: 800px;
  }

  .page9-subtitle {
    font-size: 16px;
  }
  .page9-title {
    font-size: 30px;
    line-height: 36px;
  }
  .page9-text {
    font-size: 20px;
    line-height: 32px;
  }
  .page9-inner-text-wrapper {
    height: auto;
    width: 35vw;
  }
  .page9-right-block {
    display: inline-block;
    flex-direction: column;
    width: 60%;
    padding: 20vh 0 93px 5vw;
  }

  .page10-content-block._content-padding {
    padding: 45vh 60px;
  }
  .page10-text-wrapper {
    height: auto;
    width: 49%;
    margin: auto;
  }
  .page10-text {
    font-size: 26px;
    line-height: 34px;
  }
}

/* стили для iPad mini и iPad 2 и старых планшетов */
@media screen and (min-width: 800px) and (max-width: 1024px) {
  ._content-padding {
    padding: 0 60px;
  }
  .start-page-content-wrapper {
  }
  .start-page-title-wrapper {
    width: auto;
    height: auto;
  }
  .start-page-title {
    font-size: 90px;
    line-height: 85px;
  }
  .start-page-text-wrapper {
    height: 65px;
    width: 60%;
    margin-left: 10%;
  }
  .start-page-text {
    font-size: 18px;
    line-height: 23px;
  }

  .page2-title {
    font-size: 42px;
    line-height: 48px;
    text-align: left;
  }
  .page2-img-wrapper {
    width: 294px;
    height: 298px;
  }
  .page2-photo1 {
    background-size: 80%;
  }
  .page2-photo2 {
    background-size: 80%;
  }
  .page2-photo3 {
    background-size: 80%;
  }
  .page2-text-wrapper {
    width: 50%;
    padding: 60% 0 0 10%;
  }
  .page2-text {
    font-size: 18px;
    line-height: 25px;
  }
  #page2-trigger0 {
    top: 20%;
  }
  #page2-trigger1 {
    top: 25%;
  }
  #page2-trigger2 {
    top: 33%;
  }
  #page2-trigger3 {
    top: 42%;
  }

  .page3-content-block {
    padding: 140px 0 800px 0;
  }
  .page3-title-wrapper1 {
    left: -103%;
  }
  .page3-title-text1 {
    font-size: 200px;
    line-height: 190px;
  }
  .page3-title-wrapper2 {
    right: -192%;
  }
  .page3-title-text2 {
    font-size: 200px;
    line-height: 190px;
  }
  .fishRightFull {
    left: 100%;
  }
  .fishLeftFull {
    right: 61%;
  }

  .page4-content-block {
    padding: 42% 10% 0 0;
  }
  .page4-title1-wrapper {
    margin-right: 30px;
  }
  .page4-title1-text {
    font-size: 100px;
    line-height: 95px;
  }
  .page4-title2-wrapper {
    justify-content: flex-end;
  }
  .page4-title2-text {
    font-size: 100px;
    line-height: 95px;
  }
  .page4-subtitle {
    font-size: 14px;
    max-width: 160px;
  }
  .page4-text-wrapper {
    padding: 120px 0 0 365px;
  }
  .page4-text {
    font-size: 18px;
    line-height: 25px;
  }

  .page5-content-wrapper {
    padding-top: 0px;
  }
  .page5-left-block {
    padding: 0 80px 125px 0;
  }
  .page5-subtitle {
    font-size: 16px;
  }
  .page5-title {
    font-size: 30px;
    line-height: 36px;
  }
  .page5-text {
    font-size: 18px;
    line-height: 27px;
    height: auto;
    margin: 0;
  }
  .page5-woman-img {
    width: 404px;
    height: 633px;
    margin: 0 0 auto;
  }

  .page6-left-block {
    width: 600px;
    padding: 0 0 500px 0;
  }
  .page6-title {
    font-size: 30px;
    line-height: 36px;
  }
  .page6-text {
    font-size: 18px;
    line-height: 27px;
  }
  .page6-text-wrapper {
    padding: 60px 25px 0 0;
  }
  .page6-people-in-lab-img {
    width: 261px;
    height: 415px;
    margin: 22% 0 auto 5%;
  }

  #page7-trigger0 {
    top: 27%;
  }
  .page7-content-block {
    height: auto;
  }
  #page7-animated-block {
    height: auto;
  }
  .page7-top-svg {
    height: 405px;
    transform: translateX(-64%);
    background-size: 90%;
  }
  .page7-bottom-svg {
    height: 405px;
    transform: translateX(-15%);
    background-size: 90%;
  }
  .fishRightPage7 {
    transform: translateX(-39%);
  }
  .fishLeftPage7 {
    transform: translateX(-39%);
  }
  .zoomed {
    transform: scale(30) translateY(-21%) translateX(1.7%);
  }

  .page9-right-block {
    display: inline-block;
    flex-direction: column;
    width: 60vw;
    height: auto;
    padding: 16vh 0 10vh 5vw;
  }
  .page9-title {
    font-size: 25px;
    line-height: 35px;
  }
  .page9-inner-text-wrapper {
    width: 35vw;
  }
  .page9-text {
    font-size: 18px;
    line-height: 28px;
  }
  .page9-ngramma {
    margin-left: 60px;
    margin-right: 60px;
  }

  .page10-content-block._content-padding {
    padding: 50vh 60px;
  }
  .page10-text-wrapper {
    width: 680px;
    height: 144px;
  }
  .page10-text {
    font-size: 30px;
    line-height: 36px;
  }
}

/* стили для iPhone SE */
@media screen and (min-width: 320px) and (max-width: 799px) {
  html,
  body {
    max-width: 100vw;
    overflow-x: hidden;
  }

  .logo {
    position: relative;
    display: block;
    margin: 50px 0 0 20px;
  }
  .burger-button {
    top: 35px;
    right: 20px;
  }

  #menu {
    width: 100vw;
    padding: 25vh 0;
    height: 100vh;
  }
  .link-list {
    width: 90vw;
    margin: 0 auto;
    height: auto;
  }
  .link {
    font-size: 23px;
    line-height: 32px;
    color: black;
  }

  ._content-padding {
    padding: 0 20px;
  }

  .start-page {
    height: 100vh;
  }
  .start-page-content-wrapper {
    flex-direction: column;
    align-items: flex-start;
    padding: 50% 0;
  }
  .start-page-title-wrapper {
    width: auto;
    height: auto;
  }
  .start-page-title {
    font-size: 45px;
    line-height: 42px;
  }
  .start-page-text-wrapper {
    margin-left: 0px;
    width: auto;
    height: auto;
    padding: 20% 0 30% 38%;
  }
  .start-page-text {
    font-size: 16px;
    line-height: 17px;
    padding-bottom: 20px;
  }
  .start-page-img-wrapper {
    padding: 0 270px 115px 0;
    margin-top: -50px;
  }
  .arrow-button {
    bottom: 5vh;
    position: absolute;
  }

  .page2-content-block {
    flex-direction: column;
    align-items: flex-start;
    padding: 40% 0 160% 0;
  }
  .page2-mobile-title {
    display: flex;
    order: 1;
  }
  .page2-mobile-title-text {
    margin: 0 0 10% 0;
    text-align: center;
    font-family: "Biocad_Display-Bold";
    font-size: 27px;
    line-height: 30px;
    letter-spacing: -0.01em;
  }
  .page2-title-wrapper {
    width: 100%;
    padding-bottom: 10%;
    order: 3;
  }
  .page2-title {
    display: none;
  }
  .page2-img-wrapper {
    margin-top: 10%;
    height: auto;
  }
  .page2-photo1 {
    width: 235px;
    height: 240px;
    opacity: 1;
  }
  .page2-photo2 {
    width: 235px;
    height: 240px;
    opacity: 1;
  }
  .page2-photo3 {
    width: 235px;
    height: 240px;
    opacity: 1;
  }
  .page2-text-wrapper {
    position: relative;
    padding: 5% 0;
    width: 100%;
    order: 2;
  }
  .page2-text {
    font-size: 18px;
    line-height: 25px;
  }
  .line {
    width: 90vw;
  }

  .page3-content-block {
    padding: 150px 0;
  }
  #page3-trigger1 {
    top: 21%;
  }
  #page3-trigger2 {
    top: 35%;
  }
  .page3-img-wrapper {
    width: 272.12px;
    height: 278.7px;
  }
  .page3-title-wrapper1 {
    /* left: -163%; */
    left: -520px;
  }
  .page3-title-text1 {
    font-size: 100px;
    line-height: 95px;
  }
  .fishRightFull {
    /* left: 100%; */
    right: -1310px;
    left: initial;
  }
  .page3-title-wrapper2 {
    bottom: 5%;
    /* right: -615%; */
    right: -1970px;
  }
  .page3-title-text2 {
    font-size: 100px;
    line-height: 95px;
  }
  .fishLeftFull {
    right: initial;
    left: -785px;
  }

  ._parallax-bg-man {
    height: 568px;
  }
  .page4-gradient {
    height: 750px;
    bottom: -40%;
  }
  .page4-content-block {
    width: 100%;
    height: auto;
    padding: 100% 5% 0 0;
  }
  #page4-trigger1 {
    top: 33%;
  }
  #page4-trigger4 {
    top: 55%;
  }
  .page4-title1-wrapper {
    margin-right: 0;
    float: right;
  }
  .page4-title1-text {
    font-size: 45px;
    line-height: 43px;
  }
  .page4-title2-wrapper {
    flex-direction: column;
    padding: 10px 0;
  }
  .page4-title2-text {
    font-size: 45px;
    line-height: 43px;
    align-self: center;
    margin: 0 5px 0 0;
  }
  .page4-subtitle {
    font-size: 14px;
    padding: 5% 0 0 40%;
  }
  .page4-text-wrapper {
    padding: 10% 0 0 11%;
  }
  .page4-text {
    font-size: 16px;
    line-height: 20px;
  }

  .page5-content-wrapper {
    flex-direction: column;
    width: 100%;
  }
  .page5-left-block {
    padding: 10px 0;
    width: 100%;
  }
  .page5-img {
    width: 280px;
    height: 187px;
    margin: 0 auto;
  }
  .page5-text-wrapper {
    margin: 0 auto;
    padding: 70px 0;
    display: block;
  }
  .page5-subtitle {
    font-size: 16px;
    width: 90vw;
    text-align: center;
  }
  .page5-title {
    font-size: 25px;
    line-height: 30px;
    width: 100%;
  }
  .page5-text {
    font-size: 16px;
    line-height: 24px;
    width: 90vw;
    height: auto;
    margin: 0 0 0 0;
  }
  .page5-woman-img {
    width: 282px;
    height: 252px;
    margin: 0 auto 20%;
  }

  ._content-padding-small {
    padding: 0 20px;
  }
  .page6-content-wrapper {
    flex-direction: column;
  }
  .page6-left-block {
    width: 100%;
    height: auto;
    display: block;
  }
  .page6-text-wrapper {
    width: 100%;
    height: auto;
    padding: 10% 0 0 0;
  }
  .page6-title {
    font-size: 25px;
    line-height: 30px;
  }
  .page6-text {
    font-size: 16px;
    line-height: 24px;
  }
  .page6-ngramma {
    position: relative;
    margin-top: 25%;
  }
  .page6-people-in-lab-img {
    width: 280px;
    height: 454px;
    margin: 5vh 0 10vh;
  }

  .page7-content-block {
    height: fit-content;
  }
  #page7-animated-block {
    height: fit-content;
  }
  #page7-trigger0 {
    top: 50vh;
  }
  .page7-top-svg {
    /* transform: translateX(-60%); */
    transform: translateX(-2990px);
    background-size: contain;
    height: 50vh;
  }
  .fishRightPage7 {
    /* transform: translateX(-34%); */
    transform: translateX(-1405px);
  }
  .page7-bottom-svg {
    /* transform: translateX(-34%); */
    transform: translateX(-1450px);
    background-size: contain;
    height: 50vh;
  }
  .fishLeftPage7 {
    /* transform: translateX(-59%); */
    transform: translateX(-2945px);
  }
  .zoomed {
    transform: scale(35) translateY(-1.5%) translateX(1.5%);
  }

  .page8-img-building {
    height: 100vh;
    background: url(./assets/building_mobile.png) no-repeat center top fixed;
  }

  .page9-content-block {
    flex-direction: column;
  }
  .page9-left-block {
    padding: 100px 0 50px;
    width: 100%;
  }
  .page9-img-building-small {
    width: 100%;
  }
  .page9-img-lady {
    width: 100%;
    margin-top: 5vw;
  }
  .page9-right-block {
    display: inline-block;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 0;
  }
  .page9-title {
    font-size: 21px;
    line-height: 25px;
  }
  .page9-text-wrapper {
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
  }
  .page9-inner-text-wrapper {
    width: 100%;
    margin: 5% 0 0;
  }
  .page9-text {
    font-size: 16px;
    line-height: 20px;
  }
  .page9-ngramma {
    height: 26px;
    width: 26px;
    margin: 15% 0;
  }

  .page10-content-block._content-padding {
    padding: 50vh 60px;
  }
  .page10-text-wrapper {
    height: auto;
    width: auto;
  }
  #page10-text {
    font-size: 20px;
    line-height: 30px;
  }
}
